.skills-main {
    margin-top: 5rem;
  }
  .skills-container {
    margin-top: 3rem;
    padding: 1.5rem;
    display: flex;
    grid-template-columns: repeat(8, 1fr);
  }
  .skills-container img {
    height: 6rem;
  }
  #skills-txt {
    margin-top: 5rem;
    color: lightslategray;
    margin-left: 2rem;
    font-size: 2rem;
  }
  @media (max-width: 600px) {
    .skills-main {
      margin-top: 3rem;
    }
    .skills-container {
      margin-top: 2rem;
      padding-left: 2rem;
      display: flex;
      grid-template-columns: repeat(3, 1fr);
    }
   
    #skills-txt {
      font-size: 1rem;
    }
  }
.for_more{
  position:relative;
  color:rgba(194, 185, 180, 0.881);
  margin-left:90px;
  margin-top:70px;
  font-size:25px;
}
  