.project-heading{
    text-align:center;
    padding:4rem 0 2rem 0;
}

.project-container{
    /* max-width: 1140px; */
    margin: 2rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    padding-bottom:5rem;
}

.project-card{
    height:auto;
    width:auto;
    background:#1a1919;
    padding:1.2rem 1rem;
    border-radius: 60px;
    padding:1rem 2rem;
    margin: 0rem 0.5rem;
}

.project-card img{
    height:17rem;
    width: 100%;
    border-radius: 60px;

}

.project-title{
    color:#fff;
    padding:1rem;
}

.pro-details p{
    padding-bottom:1rem ;
    font-size:1rem;
    text-align:justify;
}

.pro-btns{
    display:flex;
    justify-content: space-between;
    padding:0.5rem 0;
    border-radius: 60px;

}

.pro-btns .btn{
    padding: 0.5rem 1rem;
    border-radius: 60px;

}

@media screen and (max-width: 740px){
    .project-container{
        max-width:90%;
        margin:auto;
        grid-template-columns:1fr;
    }
}